

.lista {
  display: grid;
  position: absolute;
  top: -20%;
  right: 10%;
  padding: 40px;

  background-color: rgb(255, 255, 255);
  color: #452557;
  font-size: 30px;
  border-radius: 50px;
  width: 70%;

  margin: 1px;
}

.convidaddo_lista {
  display: block;
  margin: 5px;
  background-color: #DDD;


  color: #6c5172;
  font-family: Rajdhani, serif;
  font-size: 25px;
}

.bot_para_ter_lista {
  background-color: #6c5172;
  font-family: Rajdhani, serif;

  top: 1%;
  right: 1%;
  margin: 2px;
  width: 5%;
  position: fixed;
  display: flexbox;

  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
              rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: all 150ms linear;
}
.bot_para_ter_lista:hover {
  background-color: #906d99;
  color:rgb(255, 255, 255);
}
